.Employement-main{
    width: 64.3rem;
    height: 42.2rem;
    top: 173px;
    left: 433px;
    border-radius: 20px;
    border: 1px solid #E2E2E4;
    position: absolute;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.provide-employe-address{
    font-weight: 500;
    font-size: 12px;
}





.Download-button-employment{
    position: relative;
    left: 19.55rem;
    padding: 7px 21px;
    top: 3px;
    height: 34px;
    width: 120px;
    background-color: #5D982E;
    border: 1px solid #5D982E;
    border-radius: 8px;
    color: white;
}

.input-full-name-acc-left-emp{
    width: 27rem;
    height: 39px;
    border: 1px solid #E2E2E4;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-left: 15px;
}





.phase-1-text-left-side-4{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
    
    padding: 6px;
    margin-left: -3px;
}




.input-full-name-acc-right-emp{
    width: 27rem;
height: 39px;
border: 1px solid #E2E2E4;
border-radius: 10px;
background-color: #F7F7F7;
padding-left: 15px;
.left-side-general-emp{
    margin-left: 26px;
    position: relative;
    top: 12px;
}


}


.right-side-acc-emp{
    margin-left: 580px;
    position: relative;
    bottom: 111.3%;

}

.country-cnfrm-text-emp{
    font-size: 12px;
    font-weight: 500;
}


.checkbox-emp{
    display: flex;
    font-size: 12px;
    position: relative;
    top: 9px;
    column-gap: 12px;
}

.left-side-general-emp{
    margin-left: 13px;
    position: relative;
    top: 41px;
}


@media (max-width: 1366px) {
   .Employement-main{
    left: 460px;
   }
 
}




@media (max-width: 1024px) {
   
.phase-1-text-left-side-4{
    font-family: Poppins;
    font-size: 8.7px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
    
    padding: 6px;
    margin-left: -3px;
}

   
    
      } 

