.gernral-main{
  width: 64.3rem;
  height: 42.2rem;
  top: 173px;
  left: 433px;
  border-radius: 20px;
  border: 1px solid #E2E2E4;
  position: absolute;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-color: #5d982e white;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.Download-button-general{

  position: absolute;
  left: 55.8rem;
  bottom: 629px;
  height: 34px;
  width: 120px;
  background-color: #5D982E;
  border: 1px solid #5D982E;
  border-radius: 8px;
  color: white;
}

.genral-input-left-side-selector{
  width: 27rem;
  height: 39px;
  border: 1px solid #E2E2E4;
  border-radius: 10px;
  background-color: #F7F7F7;
  padding-left: 15px;
}

.genral-input-right-side-selector{
  width: 27rem;
  height: 39px;
  border: 1px solid #E2E2E4;
  border-radius: 10px;
  background-color: #F7F7F7;
  padding-left: 15px;
}

.left-side-phase{
  width: 50%;
  margin-top: 15px;
  margin-left: 7px;
  padding: 6px;
}

.right-side-phase{
  width: 50%;
  margin-top: 15px;
  padding: 6px;
}
.right-side-genral{
  margin-left: 581px;
  position: relative;
  bottom: 108.7rem;

}

.All-button-containers-eduction{

  display: flex;
  gap: 1.4rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.All-button-containers-Maintience{
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.4rem;
}

.All-button-containers{
  margin-top: 2rem;
  display: flex;
  gap: 1.4rem;
  
}


.All-button-containers-Character{
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.4rem;
}

.Back-butnnn{
width: 8rem;
height: 2.5rem;
background-color: #5D982E;
border: 1px solid #5D982E;
border-radius: 7px;
color: white;
cursor: pointer;
}
.Save-btnn{
  width: 8rem;
height: 2.5rem;
background-color: #5D982E;
border: 1px solid #5D982E;
border-radius: 7px;
color: white;
cursor: pointer;
}

.Next-btnnnn{
  width: 8rem;
height: 2.5rem;
background-color: #5D982E;
border: 1px solid #5D982E;
border-radius: 7px;
color: white;
cursor: pointer;
}

.genral-text-left-side{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 14px;
  padding: 6px;
}

.genral-input-left-side{
  width: 27rem;
  height: 39px;
  border: 1px solid #E2E2E4;
  border-radius: 10px;
  background-color: #F7F7F7;
  padding-left: 15px;
}

.genral-text-right-side{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 14px;
  padding: 6px;
  margin-left: -4px;
}

.genral-input-right-side{
  width: 27rem;
    height: 39px;
    border: 1px solid #E2E2E4;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding-left: 15px;
}

.link-hover-effect {
  /* Your regular link styles here */
  color: #333; /* Default color */
  transition: color 0.3s ease; /* Add a transition to the color property */
}

.link-hover-effect.link-active {
  color: #5d982e; /* Active link color */

}



.link-active:after {
  background-color: #5d982e;
  content: "";
  display: block;
  height: 3px;
  margin: auto;
  width: 100%;
}

.phase-4-all-phase {

    column-gap: 52px;
  display: flex;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 12rem;
  margin-top: 9rem;
  text-align: left;
}

.Profile-routes{
  border-bottom: 1px solid #e2e2e4;
  column-gap: 52px;
  display: flex;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
 
  bottom: 3rem;
  width: 21rem;
}

.Group-side-All-phase{
  border-bottom: 1px solid #e2e2e4;
  column-gap: 52px;
display: flex;
font-family: Poppins;
font-size: 11px;
font-weight: 500;
letter-spacing: 0;
line-height: 21px;
margin-left: 12rem;
margin-top: 9rem;
text-align: left;
}
  
@media (max-width: 1440px) {

.gernral-main {

  left: 296px;

  
}


.Accommodation-main {
  left: 296px;
}


.Family-main{
  left: 296px;
}

.language-prof-main {
  left: 296px;
}


.Employement-main {
  left: 296px;
}

.education-main{
  left: 296px;
}

.Membership-main {
  left: 296px;
}

.Membership-main {
  left: 296px;
}

.character-main {
  left: 296px;
}

.Travel-main{
  left: 296px;
}

    } 

    
    @media (max-width: 1366px) {
   




.gernral-main {

  left: 460px;

}

    }


 
        @media (max-width: 1280px) {
   


        .gernral-main {
         
          left: 348px;

      }
        
   
  

   
                } 


                @media (max-width: 1024px){
           

                  .genral-text-left-side{
                    font-family: Poppins;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 14px;
                    padding: 6px;
                  }

                  .genral-text-right-side{
                    font-family: Poppins;
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 14px;
                    padding: 6px;
                    margin-left: -4px;
                  }
                  
                  .right-side-genral{
                    margin-left: 581px;
                    position: relative;
                    bottom: 91rem;
                  
                  }

              

                }

