.Notes-main-container{
    display: flex;
    margin-left: 127px;

}

.Notes-text-5{
    position: absolute;
    left: 22.5%;
    top: 12px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.Notes-main-section{
    width: 64.1rem;
    height: 42.3rem;
    border-radius: 20px;
    border: 1px solid #E2E2E4;
    top: 167px;
    left: 189px;
    font-size: 12px;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

.Notes-box-1{
    width: 955px;
    height: 311px;
    border: 1px solid #E2E2E4;
    border-radius: 20px;
    position: relative;
    left: 29px;
    top: 16px;
    display: flex;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 14px;
    position: relative;
}

.Notes-box-2{
    width: 956px;
    height: 311px;
    border: 1px solid #E2E2E4;
    border-radius: 20px;
    position: relative;
    left: 28px;
    top: 46px;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}


.Notes-box-3{
    width: 956px;
    height: 311px;
    border: 1px solid #E2E2E4;
    border-radius: 20px;
    position: relative;
    left: 28px;
    top: 70px;
    scrollbar-color: #5d982e white;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

.all-notes-data{
    position: relative;
    left: 46px;
    top: 17px;
}

.all-textarea{
  position: absolute;
  right: 1.8%;
  top: 17px;
}

.Notes-name-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.Name-text-8{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 4px;
    margin-bottom: 18px;
}

.Notes-caseid-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 20px;
}

.Number-text-4{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 22px;
}

.Notes-Application-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 47px;
    width: 134px;
}

.Set-lr-text-1{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 49px;
}

.Notes-Apllication-status-text{
    font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 75px;
}

.Approved-text-1{
    
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 85px;
}

.textarea-1{
    height: 62px;
    width: 88.5%;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    border: white;
    position: relative;
    bottom: 119px;
    left: 61px;
}

.text-area-input{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    right: 129px;
    margin-bottom: 19px;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

.dummy-data{
    background-color: #D9D9D9;
    width: 570px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 19px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    overflow-y: auto;
    z-index: 10;
}

.dummy-data::-webkit-scrollbar{
    width: 0;
    height: 0;
    
}

.dummy-data p:nth-child(1){
    font-weight: 500;
    font-size: .9rem;
    margin-top: 13px;
}

.text-area-input-23{
    background-color: #D9D9D9;
    width: 570px;
    height: 111px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    /* bottom: 169px; */
     border: 1px solid #D9D9D9;
     padding: 10px; 
 } 



.Notes-box-2 .text-area-input-23{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    right: 0;
    /* bottom: 169px; */
    border: 1px solid #D9D9D9;
    padding: 10px;
}

.Notes-box-3 .text-area-input-23 {
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    right: 0;
    /* bottom: 169px; */
    border: 1px solid #D9D9D9;
    padding: 10px;
  }

.dummy-data-2{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    right: 129px;
    margin-bottom: 19px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    position: absolute;
}
.text-area-input-2{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    /* right: 129px; */
    bottom: 169px;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

.text-area-input-3{
    background-color: #D9D9D9;
    width: 630px;
    height: 111px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #D9D9D9;
    padding: 10px;
    top: -35px;
}

.text-area-input-4{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: relative;
    /* right: 129px; */
    bottom: 169px;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

.text-area-input-5{
    background-color: #D9D9D9;
    width: 641px;
    height: 111px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #D9D9D9;
    padding: 10px;

    top: -35px;
}

.jhon-name-input{
    background-color: transparent;
    border: none;
    position: rela;
    left: 67px;
    bottom: 128px;
    position: relative;
}

.add-button{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: absolute;
    right: 8px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
}

.add-button-2{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 552px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    bottom: 22px;
}

.add-button-3{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 552px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    bottom: 22px;
}


.cncl-btn{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: absolute;
    right: 140px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
    bottom: -43%;
}

.submit-btn{
      background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: absolute;
    right: 24px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
    bottom: -43%;
}



.Notes-box-2 .submit-btn{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 459px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
}

.Notes-box-3 .submit-btn{
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 459px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
}
.Notes-box-3 .cncl-btn {
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 449px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
  }

  .Notes-box-2 .cncl-btn {
    background-color: #5D982E;
    border: 1px solid #5D982E;
    color: white;
    position: relative;
    left: 449px;
    width: 92px;
    height: 29px;
    border-radius: 10px;
    cursor: pointer;
  }

  
  @media (max-width: 1680px) {
    .Notes-text-5 {
        position: absolute;
        left: 429px;
        /* top: 12px; */
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }
    }
  
  

  @media (max-width: 1440px) {
   
    .Notes-main-container {
        display: flex;
        margin-left: -12px;
    }

    .Notes-text-5 {
 
        left: 22%;
     
    }
      } 


      @media (max-width: 1366px) {
        .Notes-main-container {
            display: flex;
            margin-left: 150px;
        }
    
        .Notes-text-5 {
            left: 33.5%;
        }

          } 


          @media (max-width: 1280px) {
            .Notes-main-container {
                display: flex;
                margin-left: 40px;
            }
        
            .Notes-text-5 {
          
    left: 27%;

            }
    
              } 


          @media (max-width: 1024px){
            .Notes-main-section {
                left: 21.5rem;
            }
            .Notes-text-5 {
                left: 33.9%;
            }
          }

 