.Phase-2-main-container{

  width: 13%;
  display: flex;
  margin-left: 127px;


}

.Phase-2{
  width: 64.3rem;
  height: 42.2rem;
  top: 173px;
  left: 433px;
  border-radius: 20px;
  border: 1px solid #E2E2E4;
  position: absolute;
  display: flex;
}

.Phase-2-right{
  width: 50%;
  margin-top: 15px;
  margin-left: 117px;
  padding: 6px;
}



.Phase-2-left{
  width: 50%;
  margin-top: 15px;
  margin-left: 6px;
  padding: 6px;
}



.Download-btn-phase-2{
  position: relative;
  left: 312px;
  bottom: 431px;
  height: 34px;
  width: 120px;
  background-color: #5D982E;
  border: 1px solid #5D982E;
  border-radius: 8px;
  color: white;
}

/* 
.pdf-icon{
  position: relative;
  left: 193px;
  top: 5px;
} */

.pdf-input {
  width: 30rem;
  height: 39px;
  border: 1px solid #e2e2e4;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf-icon {
  position: relative;
}

.password-text{
  
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
  padding: 6px;
}


@media (max-width: 1440px) {
   
  .Phase-2-main-container {
    width: 13%;
    display: flex;
 
    margin-left: -12px;

}
.Phase-2 {

  left: 296px;

  
}
    } 


    
    @media (max-width: 1366px) {
   
      .Phase-2-main-container{
        width: 13%;
        display: flex;
        margin-left: 150px;
    }
    .Phase-2 {
      left: 460px;
  }
        } 

        @media (max-width: 1280px) {
   
          .Phase-2-main-container{
            width: 13%;
            display: flex;
            margin-left: 40px;
        }
        .Phase-2 {
          left: 348px;
      }
            } 

        @media (max-width: 1024px){
      
        }

