.phase-3{
  width: 64.3rem;
  height: 42.2rem;
  top: 173px;
  left: 433px;
    border-radius: 20px;
    border: 1px solid #E2E2E4;
    position: absolute;
    display: flex;
}

.evidence-payement-text{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  left: 12px;
  top: 43px;
}


.pdf-17{

 
  width: 448px;
  height: 40px;
  border: 1px solid #E2E2E4;
  background-color: #F7F7F7;
  position: relative;
  top: 72px;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 3px;
  right: 119px;


}

.Download-btn-2{
  position: relative;
  left: 314px;
  height: 34px;
  width: 120px;
  background-color: #5D982E;
  border: 1px solid #5D982E;
  border-radius: 8px;
  color: white;
  top: 10px;
}


@media (max-width: 1440px) {
   
    .Prephase3-container {
      width: 13%;
      display: flex;
      margin-left: -12px;
  }
  .phase-3   {
  
    left: 296px;
  
    
  }
      } 


      @media (max-width: 1366px) {
        .Prephase3-container {
            width: 13%;
            display: flex;
            margin-left: 150px;
        }

        .phase-3 {
          left: 460px;
      }

          } 


          @media (max-width: 1280px) {
      
            .phase-3 {
              left: 348px;
          }
          .Prephase3-container {
            width: 13%;
            display: flex;
            margin-left: 40px;
        }
                } 


          @media (max-width:1024px){
      
          }


    