
.sidenavbar-Container{
  position: relative;
  border-radius: 20px;
  background-color: #fcfcfc;
  border: 1px solid #e2e2e4;
  /* box-sizing: border-box; */
  /* width: 7%; */
  /* height: fit-content; */
  /* left: 144px; */
  /* top: 16px; */
  width: 7.2rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  align-self: stretch;
}

.icons-sidebar{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  position: relative;
  min-width: 7.2rem;
  justify-content: space-between;
}

.icons-sidebar-sec-a{
 
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
}

.Logo{
  position: relative;
  right: 3px;

}


.dp-img{
    position: absolute;
    top: 85.37px;
    left: 35.37px;
    border-radius: 5px;
    object-fit: cover;
}


.Home-icon{
  width: 1.5rem;
}


.Notification-icon{
  width: 1.5rem;
  }

  .icon-badge{
  position: absolute;
  left: 3.2rem;
  top: 3.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #5D982E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .icon-badge-message{
  position: absolute;
  left: 3.8rem;
  top: 9.2rem;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #5D982E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  }


.Message-icon{
  width: 2rem;
}

.Calender-icon{
  width: 1.5rem;
}

.Caseworker-icon{
  width: 1.5rem;
}

.billing-icon{
    width: 1.3rem;
}


.Setting-icon{
  width: 1.5rem;
}

.Logout-icon{
  left: 2.6rem;
  width: 1.5rem;
  bottom: 13.6rem;
}




.Dashboard-heading{
  font-size: 20px;
  color: #5D982E;
  margin-top: 10px;
  margin-left: 5px;
}

.Icons{
  position: absolute;
  bottom: 54rem;

}
  @media (max-width: 1920px) {
    /* .Dashboard-heading{
      right: 146.4rem;
    } */
  } 

  
  @media (max-width: 1440px) {


    .sidenavbar-Container{
   
      left: 121px;

    }

  } 

  @media (max-width: 1280px) {

    .Dashboard-heading {
      right: 146.5rem;
  }

  } 

  @media (max-width: 1024px) {
 

  } 


  @media screen and (max-width: 760px) {
    .sidenavbar-Container{
      display: none;
    }

}