
.sidenavbar-Container{
  position: relative;
  border-radius: 20px;
  background-color: #fcfcfc;
  border: 1px solid #e2e2e4;
  box-sizing: border-box;
  /* width: 7%; */
  height: 52rem;
  left: 144px;
  top: 16px;

}

.icons-sidebar{
  width: 100%;
  height: 100%;
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  position: relative;
}

.Logo{
  position: relative;
  right: 3px;

}


.dp-img{
    position: absolute;
    top: 85.37px;
    left: 35.37px;
    border-radius: 5px;
    object-fit: cover;
}


.Home-icon{
  width: 1.5rem;
}


.Notification-icon{
  width: 1.5rem;
  }

  .icon-badge{
  position: absolute;
  left: 3.2rem;
  top: 3.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #5D982E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .icon-badge-message{
  position: absolute;
  left: 3.9rem;
  top: 9.4rem;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #5D982E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  }


.Message-icon{
  width: 2rem;
}

.Calender-icon{
  width: 1.5rem;
}

.Caseworker-icon{
  width: 1.5rem;
}

.billing-icon{
    width: 1.3rem;
}


.Setting-icon{
  width: 1.5rem;
}

.Logout-icon{
  position: absolute;
  left: 2.6rem;
  width: 1.5rem;
  bottom: 13rem;
}




.Dashboard-heading{
  position: relative;
  right: 183rem;
  margin-top: 73px;
  font-size: 20px;
  color: #5D982E;

}

.Icons{
  position: absolute;
  bottom: 54rem;

}
  @media (max-width: 1920px) {
    .Dashboard-heading{
      right: 146.4rem;
    }
  } 

  
  @media (max-width: 1440px) {


    .sidenavbar-Container{
   
      left: 121px;

    }

  } 

  @media (max-width: 1280px) {

    .Dashboard-heading {
      right: 146.5rem;
  }

  } 

  @media (max-width: 1024px) {
 

  } 


  @media screen and (max-width: 760px) {
    .sidenavbar-Container{
      display: none;
    }

}